n8n-workflows/1-lead-nurturing.json
{
  "name": "Lead Nurturing Sequence",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-nurturing",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook - New Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "lead-nurturing"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "hours"
      },
      "id": "wait-1",
      "name": "Wait 1 Hour",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "contacts",
        "query": "=[\n  { \"$match\": { \"_id\": { \"$oid\": \"{{ $json.contact_id }}\" } } },\n  {\n    \"$lookup\": {\n      \"from\": \"customer_journey\",\n      \"localField\": \"_id\",\n      \"foreignField\": \"contact_id\",\n      \"as\": \"journey\"\n    }\n  }\n]"
      },
      "id": "mongodb-1",
      "name": "Get Contact Details",
      "type": "n8n-nodes-base.mongodb",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "mongodb": {
          "id": "1",
          "name": "MongoDB WhatsApp CRM"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash-latest:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are a friendly customer service agent. Generate a warm welcome message for a new lead named {{ $json.name }}. Mention that you're here to help them and ask what brought them to us today. Keep it under 160 characters and friendly.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"maxOutputTokens\": 150\n  }\n}",
        "options": {}
      },
      "id": "http-1",
      "name": "Generate Welcome Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst contact = $('Get Contact Details').item.json;\nconst generatedText = response.candidates[0].content.parts[0].text;\n\nreturn {\n  json: {\n    contact_id: contact._id,\n    name: contact.name,\n    phone_number: contact.phone_number,\n    message: generatedText,\n    stage: 'welcome_sent'\n  }\n};"
      },
      "id": "code-1",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/messages/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone_number\": \"{{ $json.phone_number }}\",\n  \"message\": \"{{ $json.message }}\",\n  \"contact_id\": \"{{ $json.contact_id }}\"\n}",
        "options": {}
      },
      "id": "http-2",
      "name": "Send WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "amount": 24,
        "unit": "hours"
      },
      "id": "wait-2",
      "name": "Wait 24 Hours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "messages",
        "query": "=[\n  {\n    \"$match\": {\n      \"conversation_id\": { \"$oid\": \"{{ $json.conversation_id }}\" },\n      \"sender_type\": \"customer\",\n      \"created_at\": { \"$gte\": { \"$date\": \"{{ $now.minus({hours: 24}).toISO() }}\" } }\n    }\n  },\n  { \"$count\": \"message_count\" }\n]"
      },
      "id": "mongodb-2",
      "name": "Check Engagement",
      "type": "n8n-nodes-base.mongodb",
      "typeVersion": 1,
      "position": [1780, 300],
      "credentials": {
        "mongodb": {
          "id": "1",
          "name": "MongoDB WhatsApp CRM"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.message_count }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-1",
      "name": "Is Engaged?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash-latest:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Generate a message sharing key product benefits for an engaged customer named {{ $('Format Message').item.json.name }}. Keep it conversational and under 200 characters.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"maxOutputTokens\": 200\n  }\n}",
        "options": {}
      },
      "id": "http-3",
      "name": "Generate Product Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2220, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash-latest:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Generate a gentle re-engagement message for {{ $('Format Message').item.json.name }} who hasn't responded. Ask if they have any questions. Keep it friendly and under 160 characters.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.8,\n    \"maxOutputTokens\": 150\n  }\n}",
        "options": {}
      },
      "id": "http-4",
      "name": "Generate Re-engagement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2220, 400]
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "customer_journey",
        "updateKey": "contact_id",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "stage",
              "fieldValue": "=interest"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "mongodb-3",
      "name": "Update Journey Stage",
      "type": "n8n-nodes-base.mongodb",
      "typeVersion": 1,
      "position": [2440, 200],
      "credentials": {
        "mongodb": {
          "id": "1",
          "name": "MongoDB WhatsApp CRM"
        }
      }
    }
  ],
  "connections": {
    "Webhook - New Lead": {
      "main": [[{"node": "Wait 1 Hour", "type": "main", "index": 0}]]
    },
    "Wait 1 Hour": {
      "main": [[{"node": "Get Contact Details", "type": "main", "index": 0}]]
    },
    "Get Contact Details": {
      "main": [[{"node": "Generate Welcome Message", "type": "main", "index": 0}]]
    },
    "Generate Welcome Message": {
      "main": [[{"node": "Format Message", "type": "main", "index": 0}]]
    },
    "Format Message": {
      "main": [[{"node": "Send WhatsApp Message", "type": "main", "index": 0}]]
    },
    "Send WhatsApp Message": {
      "main": [[{"node": "Wait 24 Hours", "type": "main", "index": 0}]]
    },
    "Wait 24 Hours": {
      "main": [[{"node": "Check Engagement", "type": "main", "index": 0}]]
    },
    "Check Engagement": {
      "main": [[{"node": "Is Engaged?", "type": "main", "index": 0}]]
    },
    "Is Engaged?": {
      "main": [
        [{"node": "Generate Product Info", "type": "main", "index": 0}],
        [{"node": "Generate Re-engagement", "type": "main", "index": 0}]
      ]
    },
    "Generate Product Info": {
      "main": [[{"node": "Update Journey Stage", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-11-08T00:00:00.000Z",
  "versionId": "1"
}