n8n-workflows/3-feedback-collection-supabase.json
{
  "name": "Customer Feedback Collection (Supabase)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "feedback-collection",
        "responseMode": "onReceived"
      },
      "id": "webhook-1",
      "name": "Purchase Completed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "feedback-collection"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.contact_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"metadata\": {\n    \"journey_stage\": \"purchase\",\n    \"purchase_date\": \"{{ $now.toISO() }}\"\n  }\n}",
        "options": {}
      },
      "id": "http-1",
      "name": "Update Journey Stage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase CRM"
        }
      }
    },
    {
      "parameters": {
        "amount": 7,
        "unit": "days"
      },
      "id": "wait-1",
      "name": "Wait 7 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.contact_id }}"
            },
            {
              "name": "select",
              "value": "*"
            }
          ]
        },
        "options": {}
      },
      "id": "http-2",
      "name": "Get Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase CRM"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash-latest:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Generate a friendly feedback request message for {{ $json[0].name }} who purchased {{ $('Purchase Completed').item.json.product_name }} 7 days ago. Ask about their experience and if they have any suggestions. Keep it conversational and under 200 characters.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"maxOutputTokens\": 200\n  }\n}",
        "options": {}
      },
      "id": "http-3",
      "name": "Generate Feedback Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst contact = $('Get Contact').item.json[0];\nconst generatedText = response.candidates[0].content.parts[0].text;\n\nreturn {\n  json: {\n    contact_id: contact.id,\n    phone_number: contact.phone_number,\n    message: generatedText,\n    feedback_requested_at: new Date().toISOString()\n  }\n};"
      },
      "id": "code-1",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/messages/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone_number\": \"{{ $json.phone_number }}\",\n  \"message\": \"{{ $json.message }}\",\n  \"contact_id\": \"{{ $json.contact_id }}\"\n}"
      },
      "id": "http-4",
      "name": "Send Feedback Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "days"
      },
      "id": "wait-2",
      "name": "Wait 3 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "contact_id",
              "value": "=eq.{{ $('Format Message').item.json.contact_id }}"
            },
            {
              "name": "sender_type",
              "value": "=eq.customer"
            },
            {
              "name": "created_at",
              "value": "=gte.{{ $('Format Message').item.json.feedback_requested_at }}"
            },
            {
              "name": "order",
              "value": "created_at.desc"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "id": "http-5",
      "name": "Get Feedback Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2000, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase CRM"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-1",
      "name": "Response Received?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "jsCode": "const messages = $input.item.json;\nconst feedbackText = messages.map(m => m.content).join(' ');\n\nreturn {\n  json: {\n    contact_id: $('Format Message').item.json.contact_id,\n    feedback_text: feedbackText\n  }\n};"
      },
      "id": "code-2",
      "name": "Combine Feedback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash-latest:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Analyze this customer feedback and classify the sentiment as 'positive', 'neutral', or 'negative'. Also extract key themes. Feedback: {{ $json.feedback_text }}\\n\\nRespond in JSON format: {\\\"sentiment\\\": \\\"positive/neutral/negative\\\", \\\"themes\\\": [\\\"theme1\\\", \\\"theme2\\\"], \\\"summary\\\": \\\"brief summary\\\"}\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.3,\n    \"maxOutputTokens\": 300\n  }\n}",
        "options": {}
      },
      "id": "http-6",
      "name": "Analyze Sentiment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2660, 200]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst analysisText = response.candidates[0].content.parts[0].text;\n\n// Extract JSON from response\nconst jsonMatch = analysisText.match(/\\{[^}]+\\}/);\nconst analysis = jsonMatch ? JSON.parse(jsonMatch[0]) : {\n  sentiment: 'neutral',\n  themes: [],\n  summary: analysisText\n};\n\nreturn {\n  json: {\n    contact_id: $('Combine Feedback').item.json.contact_id,\n    feedback_text: $('Combine Feedback').item.json.feedback_text,\n    sentiment: analysis.sentiment,\n    themes: analysis.themes,\n    summary: analysis.summary,\n    analyzed_at: new Date().toISOString()\n  }\n};"
      },
      "id": "code-3",
      "name": "Parse Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.contact_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"metadata\": {\n    \"feedback\": {\n      \"text\": \"{{ $json.feedback_text }}\",\n      \"sentiment\": \"{{ $json.sentiment }}\",\n      \"themes\": {{ JSON.stringify($json.themes) }},\n      \"summary\": \"{{ $json.summary }}\",\n      \"analyzed_at\": \"{{ $json.analyzed_at }}\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "http-7",
      "name": "Store Feedback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3100, 200],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase CRM"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.sentiment }}",
              "operation": "equals",
              "value2": "negative"
            }
          ]
        }
      },
      "id": "if-2",
      "name": "Is Negative?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3320, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/notifications/agent-alert",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"negative_feedback\",\n  \"contact_id\": \"{{ $json.contact_id }}\",\n  \"message\": \"Negative feedback received: {{ $json.summary }}\",\n  \"priority\": \"high\"\n}"
      },
      "id": "http-8",
      "name": "Alert Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3540, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash-latest:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Generate a warm thank you message for positive feedback. Keep it genuine and under 160 characters.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"maxOutputTokens\": 150\n  }\n}"
      },
      "id": "http-9",
      "name": "Generate Thank You",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3540, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/messages/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone_number\": \"{{ $('Get Contact').item.json[0].phone_number }}\",\n  \"message\": \"{{ $json.candidates[0].content.parts[0].text }}\",\n  \"contact_id\": \"{{ $('Parse Analysis').item.json.contact_id }}\"\n}"
      },
      "id": "http-10",
      "name": "Send Thank You",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3760, 300]
    }
  ],
  "connections": {
    "Purchase Completed": {
      "main": [[{"node": "Update Journey Stage", "type": "main", "index": 0}]]
    },
    "Update Journey Stage": {
      "main": [[{"node": "Wait 7 Days", "type": "main", "index": 0}]]
    },
    "Wait 7 Days": {
      "main": [[{"node": "Get Contact", "type": "main", "index": 0}]]
    },
    "Get Contact": {
      "main": [[{"node": "Generate Feedback Request", "type": "main", "index": 0}]]
    },
    "Generate Feedback Request": {
      "main": [[{"node": "Format Message", "type": "main", "index": 0}]]
    },
    "Format Message": {
      "main": [[{"node": "Send Feedback Request", "type": "main", "index": 0}]]
    },
    "Send Feedback Request": {
      "main": [[{"node": "Wait 3 Days", "type": "main", "index": 0}]]
    },
    "Wait 3 Days": {
      "main": [[{"node": "Get Feedback Response", "type": "main", "index": 0}]]
    },
    "Get Feedback Response": {
      "main": [[{"node": "Response Received?", "type": "main", "index": 0}]]
    },
    "Response Received?": {
      "main": [[{"node": "Combine Feedback", "type": "main", "index": 0}]]
    },
    "Combine Feedback": {
      "main": [[{"node": "Analyze Sentiment", "type": "main", "index": 0}]]
    },
    "Analyze Sentiment": {
      "main": [[{"node": "Parse Analysis", "type": "main", "index": 0}]]
    },
    "Parse Analysis": {
      "main": [[{"node": "Store Feedback", "type": "main", "index": 0}]]
    },
    "Store Feedback": {
      "main": [[{"node": "Is Negative?", "type": "main", "index": 0}]]
    },
    "Is Negative?": {
      "main": [
        [{"node": "Alert Agent", "type": "main", "index": 0}],
        [{"node": "Generate Thank You", "type": "main", "index": 0}]
      ]
    },
    "Generate Thank You": {
      "main": [[{"node": "Send Thank You", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["supabase", "feedback", "customer-success"],
  "triggerCount": 1
}
