n8n-workflows/4-smart-reengagement.json
{
  "name": "Smart Re-engagement",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "cron-1",
      "name": "Daily at 10 AM",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "conversations",
        "query": "=[\n  {\n    \"$match\": {\n      \"status\": \"active\",\n      \"last_message_at\": {\n        \"$lte\": { \"$date\": \"{{ $now.minus({days: 7}).toISO() }}\" }\n      }\n    }\n  },\n  {\n    \"$lookup\": {\n      \"from\": \"contacts\",\n      \"localField\": \"contact_id\",\n      \"foreignField\": \"_id\",\n      \"as\": \"contact\"\n    }\n  },\n  { \"$unwind\": \"$contact\" },\n  { \"$limit\": 50 }\n]"
      },
      "id": "mongodb-1",
      "name": "Find Inactive Customers",
      "type": "n8n-nodes-base.mongodb",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "mongodb": {
          "id": "1",
          "name": "MongoDB WhatsApp CRM"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-1",
      "name": "Process Each Customer",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "messages",
        "query": "=[\n  {\n    \"$match\": {\n      \"conversation_id\": { \"$oid\": \"{{ $json._id }}\" }\n    }\n  },\n  { \"$sort\": { \"created_at\": -1 } },\n  { \"$limit\": 10 }\n]"
      },
      "id": "mongodb-2",
      "name": "Get Conversation History",
      "type": "n8n-nodes-base.mongodb",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "mongodb": {
          "id": "1",
          "name": "MongoDB WhatsApp CRM"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const conversation = $('Process Each Customer').item.json;\nconst messages = $input.all().map(m => m.json);\n\nconst messageHistory = messages.map(m => \n  `${m.sender_type}: ${m.content}`\n).join('\\n');\n\nconst daysSinceLastMessage = Math.floor(\n  (new Date() - new Date(conversation.last_message_at)) / (1000 * 60 * 60 * 24)\n);\n\nreturn {\n  json: {\n    contact_id: conversation.contact._id,\n    contact_name: conversation.contact.name,\n    phone_number: conversation.contact.phone_number,\n    conversation_id: conversation._id,\n    tags: conversation.contact.tags || [],\n    message_history: messageHistory,\n    days_inactive: daysSinceLastMessage,\n    last_topic: messages[0]?.content || 'general inquiry'\n  }\n};"
      },
      "id": "code-1",
      "name": "Prepare Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash-latest:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Generate a personalized re-engagement message for {{ $json.contact_name }} who hasn't messaged in {{ $json.days_inactive }} days.\\n\\nContext:\\n- Last topic: {{ $json.last_topic }}\\n- Customer tags: {{ $json.tags.join(', ') }}\\n- Recent conversation:\\n{{ $json.message_history }}\\n\\nCreate a friendly, relevant message that:\\n1. References their previous interaction naturally\\n2. Provides value or helpful information\\n3. Asks an open-ended question\\n4. Feels personal, not automated\\n5. Is under 200 characters\\n\\nDo not be pushy or salesy.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.8,\n    \"maxOutputTokens\": 250\n  }\n}",
        "options": {}
      },
      "id": "http-1",
      "name": "Generate Personalized Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst context = $('Prepare Context').item.json;\nconst generatedText = response.candidates[0].content.parts[0].text;\n\nreturn {\n  json: {\n    contact_id: context.contact_id,\n    phone_number: context.phone_number,\n    message: generatedText,\n    conversation_id: context.conversation_id,\n    reengagement_type: 'smart_ai'\n  }\n};"
      },
      "id": "code-2",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/messages/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone_number\": \"{{ $json.phone_number }}\",\n  \"message\": \"{{ $json.message }}\",\n  \"contact_id\": \"{{ $json.contact_id }}\"\n}"
      },
      "id": "http-2",
      "name": "Send Re-engagement Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "conversations",
        "updateKey": "_id",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "last_reengagement_at",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldId": "reengagement_count",
              "fieldValue": "={{ $json.reengagement_count + 1 }}"
            }
          ]
        }
      },
      "id": "mongodb-3",
      "name": "Update Last Contact",
      "type": "n8n-nodes-base.mongodb",
      "typeVersion": 1,
      "position": [2000, 300],
      "credentials": {
        "mongodb": {
          "id": "1",
          "name": "MongoDB WhatsApp CRM"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "reengagement_log",
        "fields": "={\n  \"contact_id\": \"{{ $('Format Message').item.json.contact_id }}\",\n  \"conversation_id\": \"{{ $('Format Message').item.json.conversation_id }}\",\n  \"message_sent\": \"{{ $('Format Message').item.json.message }}\",\n  \"type\": \"smart_ai\",\n  \"sent_at\": \"{{ $now.toISO() }}\",\n  \"status\": \"sent\"\n}"
      },
      "id": "mongodb-4",
      "name": "Log Re-engagement",
      "type": "n8n-nodes-base.mongodb",
      "typeVersion": 1,
      "position": [2220, 300],
      "credentials": {
        "mongodb": {
          "id": "1",
          "name": "MongoDB WhatsApp CRM"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "wait-1",
      "name": "Rate Limit",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2440, 300]
    }
  ],
  "connections": {
    "Daily at 10 AM": {
      "main": [[{"node": "Find Inactive Customers", "type": "main", "index": 0}]]
    },
    "Find Inactive Customers": {
      "main": [[{"node": "Process Each Customer", "type": "main", "index": 0}]]
    },
    "Process Each Customer": {
      "main": [[{"node": "Get Conversation History", "type": "main", "index": 0}]]
    },
    "Get Conversation History": {
      "main": [[{"node": "Prepare Context", "type": "main", "index": 0}]]
    },
    "Prepare Context": {
      "main": [[{"node": "Generate Personalized Message", "type": "main", "index": 0}]]
    },
    "Generate Personalized Message": {
      "main": [[{"node": "Format Message", "type": "main", "index": 0}]]
    },
    "Format Message": {
      "main": [[{"node": "Send Re-engagement Message", "type": "main", "index": 0}]]
    },
    "Send Re-engagement Message": {
      "main": [[{"node": "Update Last Contact", "type": "main", "index": 0}]]
    },
    "Update Last Contact": {
      "main": [[{"node": "Log Re-engagement", "type": "main", "index": 0}]]
    },
    "Log Re-engagement": {
      "main": [[{"node": "Rate Limit", "type": "main", "index": 0}]]
    },
    "Rate Limit": {
      "main": [[{"node": "Process Each Customer", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["automation", "retention"],
  "triggerCount": 1
}
