n8n-workflows/abandoned-cart-recovery.json
{
  "name": "Abandoned Cart Recovery (Supabase)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "abandoned-cart",
        "responseMode": "onReceived"
      },
      "id": "webhook-1",
      "name": "Product Interest Detected",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $json.contact_id }}\",\n  \"metadata\": {\n    \"product_interests\": [\n      {\n        \"product_id\": \"{{ $json.product_id }}\",\n        \"product_name\": \"{{ $json.product_name }}\",\n        \"detected_at\": \"{{ $now.toISO() }}\",\n        \"status\": \"interested\"\n      }\n    ]\n  }\n}",
        "options": {
          "queryString": "on_conflict=id"
        }
      },
      "id": "http-1",
      "name": "Store Interest Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase CRM"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "hours"
      },
      "id": "wait-1",
      "name": "Wait 2 Hours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.contact_id }}"
            },
            {
              "name": "select",
              "value": "*"
            }
          ]
        },
        "options": {}
      },
      "id": "http-2",
      "name": "Check Purchase Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase CRM"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const contact = $input.item.json[0];\nconst productInterests = contact.metadata?.product_interests || [];\nconst targetProduct = productInterests.find(p => p.product_id === $('Product Interest Detected').item.json.product_id);\n\nreturn {\n  json: {\n    ...contact,\n    still_interested: targetProduct?.status === 'interested'\n  }\n};"
      },
      "id": "code-1",
      "name": "Check Interest Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.still_interested }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-1",
      "name": "Still Interested?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash-latest:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Generate a friendly reminder message for {{ $json.name }} about {{ $('Product Interest Detected').item.json.product_name }}. Mention a special 5% discount just for them. Keep it under 200 characters and include a sense of value.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"maxOutputTokens\": 200\n  }\n}",
        "options": {}
      },
      "id": "http-3",
      "name": "Generate Reminder (5% Off)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst contact = $('Check Interest Status').item.json;\nconst product = $('Product Interest Detected').item.json;\nconst generatedText = response.candidates[0].content.parts[0].text;\n\nreturn {\n  json: {\n    contact_id: contact.id,\n    phone_number: contact.phone_number,\n    message: generatedText,\n    product_id: product.product_id,\n    discount: 5\n  }\n};"
      },
      "id": "code-2",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/messages/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone_number\": \"{{ $json.phone_number }}\",\n  \"message\": \"{{ $json.message }}\",\n  \"contact_id\": \"{{ $json.contact_id }}\"\n}"
      },
      "id": "http-4",
      "name": "Send Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "amount": 24,
        "unit": "hours"
      },
      "id": "wait-2",
      "name": "Wait 24 Hours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2220, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('Format Message').item.json.contact_id }}"
            },
            {
              "name": "select",
              "value": "*"
            }
          ]
        },
        "options": {}
      },
      "id": "http-5",
      "name": "Check Again",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2440, 200],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase CRM"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const contact = $input.item.json[0];\nconst productInterests = contact.metadata?.product_interests || [];\nconst targetProduct = productInterests.find(p => p.product_id === $('Format Message').item.json.product_id);\n\nreturn {\n  json: {\n    ...contact,\n    still_interested: targetProduct?.status === 'interested'\n  }\n};"
      },
      "id": "code-3",
      "name": "Check Status Again",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.still_interested }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-2",
      "name": "Still No Purchase?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2880, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash-latest:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Generate an urgent but friendly message about {{ $('Product Interest Detected').item.json.product_name }} with a 10% discount. Create FOMO (limited time offer). Keep under 200 characters.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.8,\n    \"maxOutputTokens\": 200\n  }\n}"
      },
      "id": "http-6",
      "name": "Generate Urgency (10% Off)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3100, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/messages/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone_number\": \"{{ $('Check Status Again').item.json.phone_number }}\",\n  \"message\": \"{{ $json.candidates[0].content.parts[0].text }}\",\n  \"contact_id\": \"{{ $('Format Message').item.json.contact_id }}\"\n}"
      },
      "id": "http-7",
      "name": "Send Final Offer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3320, 100]
    }
  ],
  "connections": {
    "Product Interest Detected": {
      "main": [[{"node": "Store Interest Event", "type": "main", "index": 0}]]
    },
    "Store Interest Event": {
      "main": [[{"node": "Wait 2 Hours", "type": "main", "index": 0}]]
    },
    "Wait 2 Hours": {
      "main": [[{"node": "Check Purchase Status", "type": "main", "index": 0}]]
    },
    "Check Purchase Status": {
      "main": [[{"node": "Check Interest Status", "type": "main", "index": 0}]]
    },
    "Check Interest Status": {
      "main": [[{"node": "Still Interested?", "type": "main", "index": 0}]]
    },
    "Still Interested?": {
      "main": [[{"node": "Generate Reminder (5% Off)", "type": "main", "index": 0}]]
    },
    "Generate Reminder (5% Off)": {
      "main": [[{"node": "Format Message", "type": "main", "index": 0}]]
    },
    "Format Message": {
      "main": [[{"node": "Send Reminder", "type": "main", "index": 0}]]
    },
    "Send Reminder": {
      "main": [[{"node": "Wait 24 Hours", "type": "main", "index": 0}]]
    },
    "Wait 24 Hours": {
      "main": [[{"node": "Check Again", "type": "main", "index": 0}]]
    },
    "Check Again": {
      "main": [[{"node": "Check Status Again", "type": "main", "index": 0}]]
    },
    "Check Status Again": {
      "main": [[{"node": "Still No Purchase?", "type": "main", "index": 0}]]
    },
    "Still No Purchase?": {
      "main": [[{"node": "Generate Urgency (10% Off)", "type": "main", "index": 0}]]
    },
    "Generate Urgency (10% Off)": {
      "main": [[{"node": "Send Final Offer", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["supabase", "sales", "automation"],
  "triggerCount": 1
}
