n8n-workflows/cart-recovery-tracker.json
{
  "name": "Workflow 3 — Recovery Tracker (Shopify orders/create)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopify-order-create",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "id": "wh_order_create",
      "name": "Shopify orders/create Webhook",
      "webhookId": "shopify-order-create"
    },

    {
      "parameters": {
        "jsCode": "// Extract order data and shop domain from the Shopify webhook\nconst body    = $input.first().json.body ?? $input.first().json;\nconst headers = $input.first().json.headers ?? {};\n\nconst shopDomain = headers['x-shopify-shop-domain'] ?? headers['X-Shopify-Shop-Domain'] ?? '';\n\nif (!shopDomain)  throw new Error('Missing X-Shopify-Shop-Domain header');\nif (!body.email)  throw new Error('Missing email in order payload');\n\nreturn [{\n  json: {\n    shop_domain: shopDomain,\n    email:       body.email\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "extract_order_data",
      "name": "Extract Order Data"
    },

    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/brands",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "domain", "value": "=eq.{{ $json.shop_domain }}" },
            { "name": "select", "value": "id" },
            { "name": "limit",  "value": "1" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [440, 0],
      "id": "lookup_brand_order",
      "name": "Lookup Brand by Shop Domain",
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase_service_key",
          "name": "Supabase Service Key"
        }
      }
    },

    {
      "parameters": {
        "jsCode": "const order  = $('Extract Order Data').first().json;\nconst brands = $input.first().json;\n\nif (!Array.isArray(brands) || brands.length === 0) {\n  throw new Error(`No brand found for shop domain: ${order.shop_domain}`);\n}\n\nreturn [{\n  json: {\n    email:    order.email,\n    brand_id: brands[0].id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "id": "merge_brand_order",
      "name": "Merge brand_id"
    },

    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/abandoned_carts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "brand_id",  "value": "=eq.{{ $json.brand_id }}" },
            { "name": "email",     "value": "=eq.{{ $json.email }}" },
            { "name": "recovered", "value": "=eq.false" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"recovered\": true }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [880, 0],
      "id": "mark_carts_recovered",
      "name": "Mark Carts recovered=true",
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase_service_key",
          "name": "Supabase Service Key"
        }
      }
    },

    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1100, 0],
      "id": "respond_ok_order",
      "name": "Respond 200 OK"
    }
  ],

  "connections": {
    "Shopify orders/create Webhook": {
      "main": [[{ "node": "Extract Order Data",           "type": "main", "index": 0 }]]
    },
    "Extract Order Data": {
      "main": [[{ "node": "Lookup Brand by Shop Domain",  "type": "main", "index": 0 }]]
    },
    "Lookup Brand by Shop Domain": {
      "main": [[{ "node": "Merge brand_id",               "type": "main", "index": 0 }]]
    },
    "Merge brand_id": {
      "main": [[{ "node": "Mark Carts recovered=true",    "type": "main", "index": 0 }]]
    },
    "Mark Carts recovered=true": {
      "main": [[{ "node": "Respond 200 OK",               "type": "main", "index": 0 }]]
    }
  },

  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0ffa89d5a49b5ff561a64c0f5929b81768437fdf047cd876ce47c0015bdbc826"
  }
}
