n8n-workflows/simple-follow-up-automation.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 0
            }
          ]
        },
        "timezone": "UTC"
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "daily_schedule_trigger",
      "name": "Daily Follow-up Check"
    },
    {
      "parameters": {
        "url": "https://wpcrm.vercel.app/api/cron/follow-ups",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "N8N-Follow-up-Automation/1.0"
            },
            {
              "name": "X-Automation-Source",
              "value": "n8n-daily-scheduler"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [200, 0],
      "id": "call_follow_up_api",
      "name": "Call Follow-up API",
      "credentials": {
        "httpBearerAuth": {
          "id": "api_auth_token",
          "name": "API Auth Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success_check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [400, 0],
      "id": "check_success",
      "name": "Check Success"
    },
    {
      "parameters": {
        "jsCode": "// Log successful follow-up execution\nconst data = $json;\n\nconsole.log('✅ Daily follow-up automation completed successfully:', {\n  totalSent: data.totalSent || 0,\n  totalChecked: data.totalChecked || 0,\n  message: data.message,\n  timestamp: new Date().toISOString(),\n  executionType: 'daily-scheduled'\n});\n\n// Send notification if messages were sent\nif (data.totalSent > 0) {\n  console.log(`📨 ${data.totalSent} follow-up messages sent today`);\n}\n\nreturn {\n  json: {\n    status: 'success',\n    totalSent: data.totalSent || 0,\n    totalChecked: data.totalChecked || 0,\n    message: data.message || 'Daily follow-up automation completed',\n    executionType: 'daily-scheduled',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, -100],
      "id": "log_success",
      "name": "Log Success"
    },
    {
      "parameters": {
        "jsCode": "// Handle API errors or rate limiting\nconst data = $json;\nconst statusCode = $input.first().statusCode;\n\n// Handle rate limiting (429) gracefully\nif (statusCode === 429) {\n  console.log('⏸️ Follow-up API rate limited - this is normal behavior');\n  return {\n    json: {\n      status: 'rate_limited',\n      message: 'API rate limited - will retry later',\n      statusCode: statusCode,\n      timestamp: new Date().toISOString()\n    }\n  };\n}\n\n// Handle other errors\nconsole.error('❌ Daily follow-up automation failed:', {\n  error: data.error || 'Unknown error',\n  message: data.message,\n  statusCode: statusCode,\n  timestamp: new Date().toISOString()\n});\n\nreturn {\n  json: {\n    status: 'error',\n    error: data.error || 'Unknown error',\n    message: data.message || 'Daily follow-up automation failed',\n    statusCode: statusCode,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 100],
      "id": "handle_error",
      "name": "Handle Error"
    }
  ],
  "connections": {
    "Daily Follow-up Check": {
      "main": [
        [
          {
            "node": "Call Follow-up API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Follow-up API": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "simple_follow_up_automation_v1"
  }
}